*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#th h1{
  margin-left: 37vw;
  font-size: 8vw;
  color: #fff;
 }
    #theme{
    position: relative;
    height: 500vw;
    width: 100vw;
    padding-top: 5%;
    background-color: rgba(58, 57, 56, 0.486);
  }
  #idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    height: 25%;
    width: 80%;
    margin-left: 10%;
    /* background-color: darkgray; */
  }
  #idea5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    /* background-color: darkgray; */
  }
  #idea1{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25%;
    height: 25%;
    width: 80%;
    margin-left: 10%;
    /* background-color: darkgray; */
  }
  #idea2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25%;
    height: 25%;
    width: 80%;
    margin-left: 10%;
    /* background-color: darkgray; */
  }
  .ideaimg1{
    position: relative;
    height: 40%;
    width: 60%;
    background-color: rgba(71, 165, 134, 0.542);
  }
  p{
    position: relative;
    height: 30vw;
    font-size: 2vw;
    width: 70vw;
    /* background-color: red; */
  }
  @media(max-width: 700px){
    #th h1{
      margin-left: 37vw;
     }
  }